/* Import fonts from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
    z-index: 997;
    transition: all 0.5s;
    padding: 22px 0;
    background: #fff;
}

#header.header-scrolled {
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    padding: 12px 0;
}

#header .logo h1 {
    font-size: 35px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 1px;
}

#header .logo h1 a,
#header .logo h1 a:hover {
    color: #222222;
    text-decoration: none;
}

#header .logo img {
    padding: 0;
    margin: 0;
    max-height: 40px;
}


/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
    padding: 0;
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar li {
    position: relative;
}

.navbar a,
.navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-size: 15px;
    font-weight: 400;
    color: #555555;
    white-space: nowrap;
    transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
    color: #3498db;
}

.navbar .getstarted,
.navbar .getstarted:focus {
    background: #3498db;
    padding: 8px 25px;
    margin-left: 30px;
    border-radius: 50px;
    color: #fff;
}

.navbar .getstarted:hover,
.navbar .getstarted:focus:hover {
    color: #fff;
    background: #4aa3df;
}

.navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 30px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
    border-radius: 4px;
}

.navbar .dropdown ul li {
    min-width: 200px;
}

.navbar .dropdown ul a {
    padding: 10px 20px;
    font-size: 14px;
}

.navbar .dropdown ul a i {
    font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
    color: #3498db;
}

.navbar .dropdown:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
}

.navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
}

/* Form styling */
.form-group {
    margin-bottom: 15px;
}

.form-control {
    width: 100%;
    padding: 12px 20px;
    border: 1px solid #e2e2e2;
    outline: none;
    border-radius: 4px;
}

.form-control:focus {
    border: 1px solid #005af0;
}

.form-check {
    margin-top: 10px;
}

.form-check-label {
    font-size: 14px;
    color: #2e2e2e;
}

.flashes {
    list-style: none;
    padding: 10px;
    margin: 0;
}

.flash {
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 4px;
}

.flash.info {
    background-color: #90EE90
        /* Light Green */
    ;
    color: #000000;
    /* Black */
}

.flash.error {
    background-color: #FFCCCC
        /* Light Red */
    ;
    color: #000000;
    /* Black */
}

/* Error messages (optional) */
.error-message {
    color: red;
    font-size: 12px;
    margin-bottom: 5px;
}

.container1 {
    height: 120vh;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: #fcfcfc;
}

.card {
    border-radius: 10px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
    width: 600px;
    height: 600px;
    background-color: #ffffff;
    padding: 10px 30px 40px;
}

.card h2 {
    text-align: center;
    font-size: 120%;
    font-weight: 600;
}

.drop_box {
    margin: 5px 0;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 3px dotted #a3a3a3;
    border-radius: 5px;
}

.drop_box h4 {
    font-size: 16px;
    font-weight: 400;
    color: #2e2e2e;
}

.drop_box p {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 12px;
    color: #a3a3a3;
}

.btn1 {
    text-decoration: none;
    background-color: #005af0;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    outline: none;
    transition: 0.3s;
    width: 100%;
}

.btn1:hover {
    text-decoration: none;
    background-color: #ffffff;
    color: #005af0;
    padding: 10px 20px;
    border: none;
    outline: 1px solid #010101;
}

.subbtn {
    text-decoration: none;
    background-color: #14A44D;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    outline: none;
    transition: 0.3s;
    width: 100%;
}

.subbtn:hover {
    text-decoration: none;
    background-color: #ffffff;
    color: #14A44D;
    padding: 10px 20px;
    border: none;
    outline: 1px solid #010101;
}

.form input {
    margin: 10px 0;
    width: 100%;
    background-color: #e2e2e2;
    border: none;
    outline: none;
    padding: 12px 20px;
    border-radius: 4px;
}

.select {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 40px;
}

.option {
    color: #ffffff;
    padding: 0 30px 0 10px;
    min-height: 40px;
    display: flex;
    align-items: center;
    background: #4885f0;
    border-top: #000000 solid 1px;
    position: absolute;
    top: 0;
    width: 100%;
    pointer-events: none;
    order: 2;
    z-index: 1;
    transition: background .4s ease-in-out;
    box-sizing: border-box;
    overflow: hidden;
    white-space: nowrap;

}

.option:hover {
    background: #005af0;
}

.select:focus .option {
    position: relative;
    pointer-events: all;
}

.select input {
    opacity: 0;
    position: absolute;
    left: -99999px;
}

.select input:checked+label {
    order: 1;
    z-index: 2;
    background: #005af0;
    border-top: none;
    position: relative;
}

.select input:checked+label:after {
    content: '';
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid white;
    position: absolute;
    right: 10px;
    top: calc(50% - 2.5px);
    pointer-events: none;
    z-index: 3;
}

.select input:checked+label:before {
    position: absolute;
    right: 0;
    height: 40px;
    width: 40px;
    content: '';
    background: #005af0;
}
